@import "../../styles/variables.scss";

.form_review {
	margin-top: 30px;
	&_wrap {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 22px;
		button {
			width: 251px;
		}
	}
	&_name {
		display: flex;
		flex-direction: column;
		margin-right: 40px;
		label {
			font-weight: 400;
			font-size: 12px;
			line-height: 16px;
			color: $blue-lite;
			margin-bottom: 8px;
		}
		input {
			width: 577px;
			height: 60px;
			padding: 19px 15px;
			border: 1px solid $blue-lite;
			font-weight: 400;
			line-height: 22px;
			&:focus {
				box-shadow: 0 0 5px 5px $grey;
				border: none;
			}
		}
	}
	&_message {
		display: flex;
		flex-direction: column;
		label {
			font-weight: 400;
			font-size: 12px;
			line-height: 16px;
			color: $blue-lite;
			margin-bottom: 8px;
		}
		textarea {
			width: 100%;
			min-height: 200px;
			border: 1px solid $blue-lite;
			margin-bottom: 20px;
			padding: 15px;
			resize: none;
			&:focus {
				box-shadow: 0 0 5px 5px $grey;
				border: none;
			}
		}
	}
	&_checked {
		display: flex;
		justify-content: space-between;
		button {
			width: 525px;
		}
	}
}
