@import "../../styles/variables.scss";

.social_links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 207px;
	min-height: 35px;
	&_image {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 35px;
		min-height: 35px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			opacity: 0.8;
		}
	}
}
