@import "../../styles/variables.scss";

.rings_to_order {
	&_banner {
		background: url("/assets/bg/order_bg.jpg") center/cover no-repeat;
		margin-bottom: 50px;
		&_wrap {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			width: 100%;
			min-height: 655px;
		}
		&_title {
			max-width: 690px;
			@extend %h1-title;
			text-align: left;
			margin-bottom: 10px;
		}
		&_text {
			font-weight: 400;
			line-height: 22px;
			margin-bottom: 40px;
		}
	}
	&_title {
		@extend %h1-title;
		text-align: center;
		margin-bottom: 50px;
	}
	&_procedure {
		padding: 80px 0;
		background: $blue;

		&_title {
			@extend %h1-title;
			color: $white;
			margin-bottom: 50px;
		}
		&_items {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(290px, 625px));
			grid-template-rows: repeat(2, minmax(100px, 388px));
			grid-auto-rows: 1fr;
			grid-gap: 45px;
			justify-content: space-between;
			align-items: center;
		}

		&_item {
			position: relative;
			padding: 40px 60px;
			z-index: 2;
			&_stage {
				@extend %h3-title;
				opacity: 0.5;
				margin-bottom: 18px;
			}
			&_title {
				@extend %h4-title;
				color: $blue;
				margin-bottom: 12px;
			}
			&_desc {
				min-height: 175px;
				margin-bottom: 15px;
			}
			&_time {
				font-weight: 400;
				line-height: 22px;
				opacity: 0.5;
			}
			&_image {
				position: absolute;
				top: 0;
				left: 0;
				width: 625px;
				min-height: 385px;
				z-index: -1;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
	&_application {
		padding-top: 50px;
		display: grid;
		grid-template-columns: 870px 362px;
		grid-auto-rows: 1fr;
		justify-content: space-between;
		width: 100%;
		min-height: 609px;
	}
	&_form {
		display: flex;
		flex-direction: column;
		&_wrap {
			display: grid;
			grid-template-columns: repeat(2, minmax(290px, 424px));
			grid-template-rows: repeat(2, minmax(82px, auto));
			grid-auto-rows: minmax(82px, auto);
			grid-gap: 20px;
			margin-bottom: 20px;
		}
		&_name,
		&_download,
		&_email,
		&_tel {
			display: flex;
			flex-direction: column;
		}
		&_name,
		&_email,
		&_tel {
			label {
				font-weight: 400;
				font-size: 12px;
				line-height: 16px;
				color: $blue-lite;
				margin-bottom: 6px;
			}
		}
		&_name,
		&_email,
		&_tel {
			input {
				height: 100%;
				padding: 19px 15px;
				border: 1px solid $blue-lite;
				font-weight: 400;
				line-height: 22px;
				&:focus {
					box-shadow: 0 0 5px 5px $grey;
					border: none;
				}
			}
		}
		&_download {
			button {
				width: 100%;
				margin-top: 23px;
				span {
					margin-left: 10px;
				}
			}
		}
		p {
			font-weight: 400;
			font-size: 12px;
			line-height: 16px;
			color: $blue-lite;
			margin-bottom: 6px;
		}
		textarea {
			width: 100%;
			min-height: 200px;
			border: 1px solid $blue-lite;
			margin-bottom: 20px;
			padding: 15px;
			resize: none;
			&:focus {
				box-shadow: 0 0 5px 5px $grey;
				border: none;
			}
		}
		button {
			width: 100%;
		}
	}
	.info {
		max-width: 362px;
		min-height: 100px;
		margin-top: 23px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
