@import "../styles/variables.scss";

.home {
	&_text {
		padding-bottom: 10px;
		font-family: "Raleway";
		font-style: normal;
		font-weight: 400;
		font-size: 32px;
		line-height: 38px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		text-align: center;
	}
	&_title {
		@extend %h1-title;
		padding: 50px 0;
	}
}
