@import "../../styles/variables.scss";

.ring_id {
	&_top {
		display: flex;
		align-items: center;
		margin-bottom: 4px;
		border-bottom: 2px solid rgba($color: $blue-lite, $alpha: 0.2);
	}
	&_title {
		@extend %h4-title;
		margin-right: 34px;
	}
	&_rating {
		font-size: 18px;
		margin-right: 10px;
		color: $orange;
	}
	&_reviews {
		font-size: 14px;
		line-height: 17px;
		color: $blue;
		margin-right: 35px;
	}
	&_favorites {
		display: flex;
		align-items: center;
		padding: 0;
		&_image {
			display: flex;
			align-items: center;
			margin-right: 10px;
		}
		&_text {
			font-size: 14px;
			line-height: 17px;
			color: $blue;
		}
	}
	&_position {
		display: grid;
		grid-template-columns: minmax(290px, 805px) minmax(290px, 410px);
		grid-auto-rows: 1fr;
		justify-content: space-between;
		margin-top: 30px;
	}
	.right {
		width: 100%;
	}
	.price {
		display: flex;
		align-items: baseline;
		margin-bottom: 30px;
		&_current {
			font-weight: 600;
			font-size: 40px;
			line-height: 54px;
			margin-right: 20px;
		}
		&_old {
			font-weight: 600;
			font-size: 20px;
			line-height: 27px;
			color: #9eafc2;
			opacity: 0.8;
			text-decoration: line-through;
		}
	}
	.size_rings {
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;
		&_two {
			width: 180px;
			font-weight: 400;
			line-height: 22px;
			p {
				margin-bottom: 10px;
			}
			select {
				width: 100%;
				min-height: 40px;
				opacity: 0.5;
				border: 1px solid rgba($color: $blue-lite, $alpha: 0.5);
			}
		}
	}
	.desc {
		margin-top: 30px;
		margin-bottom: 25px;
		padding-bottom: 20px;
		font-size: 14px;
		line-height: 17px;
		border-bottom: 1px solid $blue-lite;

		&_representation {
			display: flex;
			align-items: center;
			margin-bottom: 6px;
			span {
				font-weight: 400;
				font-size: 14px;
				line-height: 19px;
				color: rgba($color: $main-color, $alpha: 0.45);
				margin-left: 9px;
			}
		}
		ul li:not(:last-child) {
			padding-bottom: 5px;
		}
		ul {
			padding-left: 10px;
			li {
				position: relative;
			}
			li:before {
				content: "-";
				position: absolute;
				left: -10px;
			}
		}
	}
	.design {
		font-size: 14px;
		line-height: 17px;
		p {
			font-weight: 400;
			line-height: 19px;
			margin-bottom: 10px;
		}
		ul li:not(:last-child) {
			padding-bottom: 5px;
		}
		ul {
			padding-left: 10px;
			li {
				position: relative;
			}
			li:before {
				content: "-";
				position: absolute;
				left: -10px;
			}
		}
	}
	.info {
		display: grid;
		grid-template-columns: minmax(290px, 870px) minmax(100px, 116px);
		grid-auto-rows: 1fr;
		justify-content: space-between;
		margin: 30px 0;
	}
	.reviewed_title {
		margin-bottom: 50px;
		text-align: center;
	}
}
